<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app> 
    <filter>
    	<filter-name>wrappingFilter</filter-name>
    	<filter-class>org.sample.redirect.simple.WrappingFilter</filter-class>
    </filter>

    <filter-mapping>
    	<filter-name>wrappingFilter</filter-name>
		<url-pattern>/wrap/*</url-pattern>    	
    </filter-mapping>
    
    <servlet>
    	<servlet-name>wrap</servlet-name>
    	<servlet-class>org.sample.redirect.simple.ForwardServlet</servlet-class>
    </servlet>

    <servlet>
    	<servlet-name>nonwrap</servlet-name>
    	<servlet-class>org.sample.redirect.simple.ForwardServlet</servlet-class>
    </servlet>

    <servlet-mapping>
    	<servlet-name>wrap</servlet-name>
    	<url-pattern>/wrap/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
    	<servlet-name>nonwrap</servlet-name>
    	<url-pattern>/nonwrap/*</url-pattern>
    </servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/error/notFound.jsp</location>
	</error-page>
</web-app>